body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
div{
  width: 150px;
  border:1px solid;
}
.box-1,.box-2,.box-3{
 border-color: #f00;
}
.box-4{
  border-color: #00f;
}
.box-1{
  height: 120px;
}
.box-2{
  height: 100px;
}
.box-3{
  height: 40px;
}
.box-4{
  height: 200px;
}
